# /vendor kasih pager biar ke upload
/node_modules
/public/hot
/public/storage
/storage/*.key
# .env kasih pager biar ke upload
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
